/* FORMATAÇÃO PADRÃO */
* {
    margin: 0px;
}

/* SELETORES */
header {
    float: left;
    width: 15%;
}

nav {
    float: left;
    width: 80%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    float: left;
    margin: 10px 50px auto 50px;
}

nav ul li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }

section {

}

main {
    height: 70%;
    width: 85%;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}


/* CLASSES */
.cabecalho{
    height: 60px;
    border: 1px solid red;
}

.logo {
}

.login {
    width: 5%;
    float: right;
}

.box-title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 5px 10px 5px;
    width: 500px;
    border-radius: 10px;
    color: #222222;
    background-color: #628A4C;
    text-align: center;
}

#carouselExampleCaptions {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 1000px;
    height: 0 auto;
}

.carousel-item {
    margin-top: auto; 
    margin-bottom: auto;
}

.carousel-item > img {
    height: 500px;
    border-radius: 10px;
}

.carousel-caption > h5 {
    padding: 5px;
    background-color:#76993D;
    border-radius: 5px;
    color: #111111;
}

.carousel-caption > p {
    padding: 10px;
    border-radius: 5px;
    background-color: #E0F2B6;
    color: #222222;
    font-weight:500;
}

.cards_transparencia {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: auto;
}

.card-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px;
    width: 250px;
    border: solid 1mm rgb(255, 255, 255);
    border-radius: 40px 0 40px 0;
    background-color: #E0F2B6;

}

.card-item > img {
    margin: 10px 0;
    width: 50px;
}

.card-item-legenda {
    padding: 5px 0;
    width: 250px;
    border-radius: 0 0 40px 0;
    background-color: #628A4C;
    color: rgb(239, 250, 239);
    text-align: center;
}

.card-item:hover {
    transition-duration: 0.3s;
    scale: 1.1;
    border: solid #628A4C;
}
