/* FORMATAÇÃO PADRÃO */
* {
    margin: 0px;
    /* background-color: #f0f8f0; */
    font-family: Arial, Helvetica, sans-serif;
}

/* LAYOUT PADRÃO */
header {
    float: left;
    width: 15%;
}

.cabecalho{
    height: 60px;
}

nav {
    float: left;
    width: 80%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f0f8f0;
}

nav ul li {
    display: block;
    float: left;
    margin: 10px 30px 10px 30px;
    
}

nav ul li a {
    display: block;
    padding: 8px;
    color: #222222;
    background-color: #f0f8f0;
    text-decoration: none;
    font-size: 1.02em;
}

nav ul li a:hover {
    color: #8bd218;
    border-bottom: 3px solid #8bd218;
}

.login {
    width: 5%;
    float: right;
}

main {
    clear: both;
    padding: 30px;
}

#rodape {
    /* display: flex;
    justify-content: center; */
    padding: 20px;
    height: 100px;
    background-color: #bff090;
}
#rodape .prefeitura-logo {
    width: 300px;
    height: 90px;
    float: left;
}

#rodape div {
    display: inline;
    clear: both;
    margin: auto 350px;
    width: 100%;
}

#rodape .fale-conosco {
    width: 100px;
    justify-items: center;
    float: right;
}

/* #rodape .links-redes-sociais {
    border: 1px solid red;
    margin: 10px auto;
    height: 100px;
} */

/* FIM LAYOUT PADRÃO */

/* TELA PRINCIPAL */
.conteudo-principal {
    border: 1px solid red;
    height: 360px;
}

.noticias-resumidas {
    float: left;
    border: 1px solid red;
    width: 40%;
    height: 100%;
}

.mapa {
    float: right;
    border: 1px solid red;
    width: 55%;
    height: 100%;
}
/* FIM TELA PRINCIPAL */

.box-title {
    padding: 5px 10px 5px;
    color: #222222;
    background-color: #f0f8f0;
    text-align: center;
    display: block;
}

.box-title > h1 {
    background-color: #425f32;
    max-width: 500px;
    min-height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 10px;
    color: #effaef;
}

.gap {
    height: 40px;
}

/*Carrossel*/

#carouselExampleCaptions {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 1000px;
    height: 0 auto;
}

.carousel-item {
    margin-top: auto; 
    margin-bottom: auto;

}

.carousel-item > img {
    height: 500px;
    border-radius: 10px;
}

.carousel-caption > h5 {
    padding: 5px;
    background-color:#76993D;
    border-radius: 5px;
    color: #111111;
}

.carousel-caption > p {
    padding: 10px;
    border-radius: 5px;
    background-color: #E0F2B6;
    color: #222222;
    font-weight:500;
}

/*Portal de Transparência*/

.cards_transparencia {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: auto;
}

.card-item-transparencia {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px;
    width: 250px;
    border: solid 1mm #f0f8f0;
    border-radius: 40px 0 40px 0;
    background-color: #E0F2B6;
}

.card-item-transparencia > img {
    margin: 10px 0;
    width: 50px;
    background-color: #E0F2B6;
}

.card-item-transparencia-legenda {
    padding: 5px 0;
    width: 250px;
    border-radius: 0 0 40px 0;
    background-color: #628A4C;
    color: #effaef;
    text-align: center;
}

.card-item-transparencia-legenda > h6 {
    background-color: #628A4C;
    border-radius: 0 0 40px 0;

}

.card-item-transparencia:hover {
    transition-duration: 0.3s;
    scale: 1.1;
    border: solid 0.8mm #628A4C;
}


/*Legislação e contratos*/

.button {
    display: flex;
    align-items: baseline;
}

.botao {
    background-color: #425f32;
    border: none;
    color: #effaef;
    border-radius: 5px;
    box-shadow: 4px 4px 8px #628A4C;
    padding: 5px;
    width: 90px;
}

.botao:hover {
    scale: 1.1;
}
.container-legislacao, .container-contratos {
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
    gap: 30px
}

.separador {
    margin: 10px 25px 10px;    
    background-color: #425f32;
    height: 4px;
}
.container-main-legislacao > h4, .container-main-contratos > h4 {
    color:#425f32;
    font-weight: 700;
    margin-left: 25px;
}

.card-item-legislacao, .card-item-contratos {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    text-align: center;
    background-color: #E0F2B6;
    width: 300px;
    height: 280px;
    justify-content: space-around;
    border-radius: 40px 0 40px 0;
    padding: 0 0 25px 0;
}

.card-item-legislacao > p, .card-item-contratos > p {
    background-color:#E0F2B6;
}

.card-item-legislacao-titulo, .card-item-contratos-titulo {
    display: flex;
    background-color: #425f32;
    padding: 15px;
    width: 300px;
    min-height: 86px;
    align-items: center;
    justify-content: center;
    border-radius: 40px 0 0 0;
    color: #effaef;
    margin-bottom: 25px;
}

.card-item-legislacao-titulo > h5, .card-item-contratos-titulo > h5 {
    background-color: #425f32;
}

/* Perfil Munícipe */

/* .container-municipe {
        height: auto;
        width: auto;
        margin: 0 50px;
        border: none;
} */

.container-perfil-municipe { 
    display: grid;
    grid-area: "container";
    grid-template-areas: 
        "aside main main main";
    justify-content: left;
    margin: 25px;
}

.container-agendamentos {
    border: 1px solid red;
}

    /* Parte superior */

.foto-usuario {
    display: flex;
    align-items: center;
    background-color: #425f32;
    border-radius: 30px;
    max-height: 150px;
    max-width: 250px;
    margin: 15px auto;
    padding: 10px;
}

.foto-usuario > h3 {
    background-color: #425f32;
    border-radius: 0 0 30px 30px;
    display: flex;
    justify-content: center;
    height: 30px; 
    color: #effaef;
    margin-top: 15px;
}

.foto-usuario > img {
    display: block;
    background-color: #425f32;
    border-radius: 0 0 30px 30px;
    margin: 0 auto;;
}


    /* Card com pontuação atual */

.card-pontuacao {
    background-color:#76993D;
    border-radius: 40px 0 40px 0;
    margin: 15px auto;
    padding: 10px;
    max-height: 150px;
    max-width: 250px;
}

.card-pontuacao > h4, h2 {
    text-align: center;
    display: flex;
    background-color:#76993D;
    justify-content: center;
    color: #effaef;
    border-radius: 40px 0 40px 0;
}

    /* Botão para extrato de pontos */

.botao-extrato-pontos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;    
    max-width: 180px;
    padding: 5px;
    border: 2px solid #76993D;
    border-radius: 5px;
}

    /* Botão para troca de pontos */

.botao-troca-pontos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px auto;    
    max-width: 180px;
    padding: 8px;
    background-color: #425f32;
    border-radius: 5px;
}

.botao-troca-pontos > p {
    background-color: #425f32;
    color: #effaef;

}

.botao-troca-pontos > img {
    background-color: #425f32;
}

    /* Botões para alteração de dados cadastrais, dúvidas frequentes e página de contatos */

.botao-dados-cadastrais, 
.botao-duvidas-frequentes,
.botao-fale-conosco {
    display: flex;
    justify-content: justify;
    align-items: center;
    margin: 15px auto;    
    max-width: 250px;
    padding: 8px;
    background-color: #76993D;
    border-radius: 5px;
}

.botao-dados-cadastrais > p, 
.botao-duvidas-frequentes > p,
.botao-fale-conosco > p {
    background-color: #76993D;
    color: #effaef;
}

.botao-dados-cadastrais > img, 
.botao-duvidas-frequentes > img,
.botao-fale-conosco > img {
    background-color: #76993D;
    margin: 0 15px 0 10px;
}

    /* Botão para novo agendamento */


.botao-novo-agendamento {
    display: flex;
    justify-content: justify;
    align-items: center;
    margin: 15px auto;    
    max-width: 300px;
    padding: 8px;
    background-color: #76993D;
    border-radius: 5px;
}

.botao-novo-agendamento > p {
    background-color: #76993D;
    color: #effaef;
}

.botao-novo-agendamento > img {
    background-color: #76993D;
    margin: 0 15px 0 10px;
}

    /* Tabelas de próximos agendamentos */

.tabela-proximo-agendamento table {
    border: none;

}

.tabela-proximo-agendamento th {
    background-color:#76993D;
}

.tabela-proximo-agendamento td, ul, li { 
    background-color: #E0F2B6;
}


    /* Tabelas de agendamentos anteriores */

.tabela-agendamentos-anteriores table {
    border: none;
    
}
    
.tabela-agendamentos-anteriores th {
    background-color:#999999;
}
    
.tabela-agendamentos-anteriores td,
.tabela-agendamentos-anteriores ul,
.tabela-agendamentos-anteriores li {
    background-color: #ededed;
}    


/* Benefícios Concedidos */

.container-beneficios-concedidos {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.introducao-pagina {
    margin: 10px 25px 25px 25px;
    text-align: left;
    color: #111111;
}
.botoes-superiores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.dropdown {
    display: flex;
    justify-content: flex-start;
    margin: 10px 35px 0 35px;

}

.dropdown > button {
    background-color: #425f32;
}

