/* CONTEÚDO DO GRID */

#main {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
}

.mainHeader {
    grid-area: header;
}

.mainMain {
    grid-area: main;
}

.mainFooter {
    grid-area: footer;
}

/* FORMATAÇÃO PADRÃO */
* {
    margin: 0px;
    padding: 0px;
    /* background-color: #f0f8f0; */
    font-family: Arial, Helvetica, sans-serif;
}

.fleft {
    float: left;
}

.clear {
    clear: both;
}

.border {
    border: 1px solid black;
}

/* LAYOUT PADRÃO */
header {
    float: left;
    height: 60px;
    width: 100%;
}

body {
    background-color: #f0f8f0;
}

.barra-nav {
    float: left;
}

.logo-reciclamais {
    float: left;
    width: 190px;
    /* border: 1px solid red; */
}

nav {
    height: 60px;
}

nav ul {
    list-style: none;
    padding: 0;
    width: 1090px;
    float: left;
}

nav ul li {
    float: left;
}

nav ul li a {
    font-size: 0.9em;
    display: block;
    padding: 5px 40px;
    line-height: 46px;
    color: #222222;
    text-decoration: none;
}

nav ul li a:hover {
    color: #8bd218;
}

body.home #navegacao a#home,
body.todasNoticias #navegacao a#todasNoticias,
body.agendamento #navegacao a#agendamento,
body.portalTransparencia #navegacao a#portalTransparencia,
body.contato #navegacao a#contato {
    color: #8bd218;
    cursor: text;
}

.login {
    float: left;
    width: 60px;
}

.mainFooter {
    clear: both;
    padding: 20px;
    height: 60px;
    width: auto;
    background-color: #bff090;
    /* border: 1px solid red; */
}

.mainFooter .prefeitura-logo {
    float: left;
    margin: auto 0px auto 60px;
}

.mainFooter .prefeitura-logo img {
    float: left;
    width: 200px;
}

.mainFooter .redes-sociais {
    float: left;
    width: 200px;
    margin: 0px 0px 0px 300px;
}

.mainFooter .redes-sociais a {
    float: left;
    margin: 5px 16px;
}

.mainFooter .redes-sociais a img {
    float: left;
    width: 30px;
}

.mainFooter .redes-sociais p {
    float: left;
    display: block;
    font-size: 0.8em;
    margin: 10px auto;
}

.mainFooter .fale-conosco {
    float: left;
    margin: 0px 0px 0px 420px;
}

.mainFooter .fale-conosco img {
    height: 70px;
    float: left;
}
/* FIM LAYOUT PADRÃO */

/*Legislação e contratos*/

/* Benefícios Concedidos */

.container-beneficios-concedidos {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.introducao-pagina {
    margin: 10px 25px 25px 25px;
    text-align: left;
    color: #2c2b2b;
    font-size: 25px;
}

.botoes-superiores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dropdown {
    display: flex;
    justify-content: flex-start;
    margin: 10px 35px 0 35px;
}

.dropdown > button {
    background-color: #425f32;
}

.box-title {
    padding: 5px 10px 5px;
    color: #222222;
    background-color: #f0f8f0;
    text-align: center;
    display: block;
}

.box-title > h1 {
    background-color: #425f32;
    max-width: 500px;
    min-height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 50px;
    border-radius: 10px;
    color: #effaef;
}

.gap {
    height: 40px;
}

.button {
    display: flex;
    align-items: baseline;
}

.separador {
    margin: 10px 25px 10px;    
    background-color: #425f32;
    height: 4px;
}
.container-main-legislacao > h4, .container-main-contratos > h4 {
    color:#425f32;
    font-weight: 700;
    margin-left: 25px;
    font-size: 25px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown:active .dropdown-menu {
    display: block;
  }

