.box-title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgb(133, 211, 158);
    text-align: center;
    padding: 5px 10px 5px;
    width: 500px;
    border-radius: 10px;
}

#carouselExampleCaptions {
    width: 80%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.carousel-item {
    margin-top: auto; 
    margin-bottom: auto;
}

.carousel-caption > h5 {
    background-color:rgba(65, 75, 178);
    border-radius: 5px;
    padding: 4px;
    color: white;
}

.carousel-caption > p {
    background-color: rgba(133, 211, 158, 0.9);
    border-radius: 5px;
    color: black;
    font-weight:500;
    padding: 5px;
}

.cards_transparencia {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 250px;
    margin: 25px;
    border-radius: 10px;
    background-color: rgba(143, 209, 79, 0.4);
}

.card-item > img {
    margin: 10px 0;
    width: 50px;
}

.card-item-legenda {
    text-align: center;
    color: rgb(43, 43, 168);
    padding: 5px 0;
    border-radius: 0 0 5px 5px;
    width: 250px;
    background-color: rgb(152, 152, 225);
}

.card-item:hover {
    transition-duration: 0.3s;
    scale: 1.05;
    border: solid rgba(65, 75, 178);
}