/* CONTEÚDO DO GRID */

#main {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: "header header header header" "content aside aside aside" "footer footer footer footer";
}

.mainHeader {
    grid-area: header;
}

.mainContet {
    grid-area: content;
}

.mainAside {
    grid-area: aside;
}

.mainFooter {
    grid-area: footer;
}

/* FORMATAÇÃO PADRÃO */
* {
    margin: 0px;
    padding: 0px;
    /* background-color: #f0f8f0; */
    font-family: Arial, Helvetica, sans-serif;
}

.fleft {
    float: left;
}

.clear {
    clear: both;
}

.border {
    border: 1px solid black;
}

/* LAYOUT PADRÃO */
header {
    float: left;
    height: 60px;
    width: 100%;
}

body {
    background-color: #f0f8f0;
}

.barra-nav {
    float: left;
}

.logo-reciclamais {
    float: left;
    width: 190px;
    /* border: 1px solid red; */
}

nav {
    height: 60px;
}

nav ul {
    list-style: none;
    padding: 0;
    width: 1090px;
    float: left;
}

nav ul li {
    float: left;
}

nav ul li a {
    font-size: 0.9em;
    display: block;
    padding: 5px 40px;
    line-height: 46px;
    color: #222222;
    text-decoration: none;
}

nav ul li a:hover {
    color: #8bd218;
}

body.home #navegacao a#home,
body.todasNoticias #navegacao a#todasNoticias,
body.agendamento #navegacao a#agendamento,
body.portalTransparencia #navegacao a#portalTransparencia,
body.contato #navegacao a#contato {
    color: #8bd218;
    cursor: text;
}

.login {
    float: left;
    width: 60px;
}

.mainFooter {
    clear: both;
    padding: 20px;
    height: 60px;
    width: auto;
    background-color: #bff090;
    /* border: 1px solid red; */
}

.mainFooter .prefeitura-logo {
    float: left;
    margin: auto 0px auto 60px;
}

.mainFooter .prefeitura-logo img {
    float: left;
    width: 200px;
}

.mainFooter .redes-sociais {
    float: left;
    width: 200px;
    margin: 0px 0px 0px 300px;
}

.mainFooter .redes-sociais a {
    float: left;
    margin: 5px 16px;
}

.mainFooter .redes-sociais a img {
    float: left;
    width: 30px;
}

.mainFooter .redes-sociais p {
    float: left;
    display: block;
    font-size: 0.8em;
    margin: 10px auto;
}

.mainFooter .fale-conosco {
    float: left;
    margin: 0px 0px 0px 420px;
}

.mainFooter .fale-conosco img {
    height: 70px;
    float: left;
}
/* FIM LAYOUT PADRÃO */

.foto-usuario {
    /* display: flex;
    justify-content: left;
    width: 250px;
    height: auto;
    background-color: #628A4C;
    border-radius: 30px;
    padding: 10px;
    margin: 15px auto;
    margin-top: 50px; */
    display: flex;
    align-items: center;
    background-color: #425f32;
    border-radius: 30px;
    max-height: 150px;
    max-width: 250px;
    margin: 15px auto;
    padding: 10px;
}

.foto-usuario > h3 {
    background-color: #425f32;
    border-radius: 0 0 30px 30px;
    display: flex;
    justify-content: center;
    height: 30px; 
    color: #effaef;
    /* margin-top: 15px; */
    align-items: center;
    min-width: 150px;
}

.foto-usuario > img {
    display: block;
    background-color: #425f32;
    border-radius: 0 0 30px 30px;
    margin: 0 auto;;
}

.lista {
    display: block;
    border: 1px solid #66a743;
    width: 200px;
    height: 30px;
    margin: 15px auto;
    padding: 5px;
}

.lista > p {
    color: #628A4C;
    text-align: center;
    font-size: 14px;
    padding-top: 5px;
}

.lista > p > a {
    text-decoration: none;
    color: #628A4C;
}

.solicitar {
    display: flex;
    background-color: #76993D;
    width: 200px;
    height: 28px;
    margin: 15px auto;
    padding: 7px;
    border-radius: 5px;
}

.solicitar > p {
    color: #effaef;
    justify-content: center;
    margin-left: 0;
    align-items: center;
    padding: 5px;
}

.solicitar > p > a {
    text-decoration: none;
    color: #effaef;
}

.botao-dados-cadastrais, 
.botao-duvidas-frequentes,
.botao-fale-conosco {
    display: flex;
    justify-content: justify;
    align-items: center;
    margin: 15px auto;    
    max-width: 250px;
    padding: 8px;
    background-color: #76993D;
    border-radius: 5px;
}

.botao-dados-cadastrais > p, 
.botao-duvidas-frequentes > p,
.botao-fale-conosco > p {
    background-color: #76993D;
    color: #effaef;
}

.botao-dados-cadastrais > img, 
.botao-duvidas-frequentes > img,
.botao-fale-conosco > img,
.solicitar > img {
    background-color: #76993D;
    margin: 0 15px 0 10px;
}

.botao-duvidas-frequentes:hover {
    transition-duration: 0.3s;
    scale: 1.1;
    border: solid 0.5mm #628A4C;
}

.botao-duvidas-frequentes > p > a {
    text-decoration: none;
    color: white;
}

.botao-fale-conosco:hover {
    transition-duration: 0.3s;
    scale: 1.1;
    border: solid 0.5mm #628A4C;
}

.botao-fale-conosco > p > a {
    text-decoration: none;
    color: white;
}

.botao-dados-cadastrais:hover {
    transition-duration: 0.3s;
    scale: 1.1;
    border: solid 0.5mm #628A4C;
}

.botao-dados-cadastrais > p > a {
    text-decoration: none;
    color: white;
}

/* FIM DO CONTENT */

h1 {
    font-size: 18px;
    margin-top: 50px;
}

.separador {
    margin: 10px 0;    
    background-color: #425f32;
    height: 4px;
    max-width: 800px;
}

.botao-nome-solicitante {
    border-radius: 15px;
    border-color: darkgrey;
    width: 20rem;
    height: 40px;
    padding-left: 15px;
    background-color: #b6b6b6;
    color: #111111;
    margin-top: 10px;
}

.botao-dados-representante {
    border-radius: 15px;
    border-color: darkgrey;
    width: 20rem;
    height: 40px;
    padding-left: 15px;
    background-color: #b6b6b6;
    color: #111111;
    margin-top: 7px;
}

h2 {
    font-size: 18px;
    margin-top: 50px;
}

.separador {
    margin: 10px 0;    
    background-color: #425f32;
    height: 4px;
    max-width: 800px;
}

h4 {
    display: inline;
    float: right;
    margin-right: 150px;
    font-size: 20px;
    background-color: darkgray;
    width: 150px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}

h3 {
    display: inline;
    float: right;
    margin-right: 250px;
    font-size: 20px;
    background-color: darkgray;
    width: 150px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}

.opcoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.selecao {
    display: inline;
    float: right;
    margin-right: 140px;
}

.qtd {
    margin-left: 220px;
}

.selecao-1 {
    display: inline;
    float: left;
    margin-right: 150px;
}

.qtd-1 {
    margin-left: 330px;
}

.opcoes-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 0;
}

.selecao-2 {
    display: inline;
    float: left;
    margin-right: 150px;
}

.qtd-2 {
    margin-left: 355px;
}

.opcoes-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 0;
}

.qtd-3 {
    margin-left: 370px;
}

.botao-enviar {
    display: inline;
    float: right;
    margin-right: 230px;
    padding: 20px;
    width:150px;
    background-color: #76993D;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 5px;
}

.botao-enviar > p > a {
    text-decoration: none;
    color: #effaef;
}