/* FORMATAÇÃO PADRÃO */
* {
    margin: 0px;
    /* background-color: #f0f8f0; */
    font-family: Arial, Helvetica, sans-serif;
}

/* LAYOUT PADRÃO */
header {
    float: left;
    width: 15%;
}

.cabecalho{
    height: 60px;
}

nav {
    float: left;
    width: 80%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f0f8f0;
}

nav ul li {
    display: block;
    float: left;
    margin: 10px 30px 10px 30px;
}

nav ul li a {
    display: block;
    padding: 8px;
    color: #222222;
    background-color: #f0f8f0;
    text-decoration: none;
    font-size: 1.02em;
}

nav ul li a:hover {
    color: #8bd218;
    border-bottom: 3px solid #8bd218;
}

.login {
    width: 5%;
    float: right;
}

main {
    clear: both;
    padding: 30px;
}

#rodape {
    padding: 20px;
    height: 100px;
    background-color: #bff090;
}

#rodape .prefeitura-logo {
    width: 300px;
    height: 90px;
    float: left;
}

#rodape div {
    display: inline;
    clear: both;
    margin: auto 350px;
    width: 100%;
}

#rodape .fale-conosco {
    width: 100px;
    justify-items: center;
    float: right;
}
/* FIM LAYOUT PADRÃO */

.foto-usuario {
    display: flex;
    justify-content: left;
    width: 250px;
    height: auto;
    background-color: #425f32;
    border-radius: 30px;
    padding: 10px;
}

.foto-usuario > h3 {
    background-color: #425f32;
    border-radius: 0 0 30px 30px;
    display: flex;
    justify-content: center;
    height: 30px; 
    color: #effaef;
    margin-top: 15px;
}

.foto-usuario > img {
    display: block;
    background-color: #425f32;
    border-radius: 0 0 30px 30px;
    margin: 0 auto;;
}

.cards-pontos {
    display: center;
    align-self: center;
    justify-items: center;
    margin-left: 40%;
}

.pontos > h1, 
.troca > h2,
.extrato > h3 {
    background-color: #425f32;
    margin: 0 auto;
}

.troca > img,
.extrato > img {
    background-color: #425f32;
    margin: 0 15px 0 10px;
}

.pontos,
.troca,
.extrato {
    display: center;
    align-self: center;
    justify-content: center;
    color: black;
    width: 350px;
    height: auto;
    background-color: #425f32;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
    text-align: center;
    color: white;
}

.cards-figuras {
    display: center;
    align-self: center;
    justify-items: center;
    margin-left: 22%;
}

.celular,
.tablet,
.notebook,
.computador {
    display: inline-block;
    align-self: center;
    padding: 30px;
    font-size: large;
    margin-top: 30px;
    text-align: center;
    background-color: #76993D;
    margin-right: 12px;
    border-radius: 20px;
    color: white;
    margin-bottom: 30px;
}

.celular > h1, p,
.tablet > h1, p,
.notebook > h1, p,
.computador > h1, p {
    background-color: #76993D;
    padding: 5px;
}

/* .celular,
.tablet,
.notebook,
.computador:hover {
    transition-duration: 0.3s;
    scale: 1.1;
    border: solid 0.8mm #628A4C;
} */