/* FORMATAÇÃO PADRÃO */
* {
    margin: 0px;
    /* background-color: #f0f8f0; */
    font-family: Arial, Helvetica, sans-serif;
}

/* LAYOUT PADRÃO */
header {
    float: left;
    width: 15%;
}

.cabecalho{
    height: 60px;
}

nav {
    float: left;
    width: 80%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f0f8f0;
}

nav ul li {
    display: block;
    float: left;
    margin: 10px 30px 10px 30px;
}

nav ul li a {
    display: block;
    padding: 8px;
    color: #222222;
    background-color: #f0f8f0;
    text-decoration: none;
    font-size: 1.02em;
}

nav ul li a:hover {
    color: #8bd218;
    border-bottom: 3px solid #8bd218;
}

.login {
    width: 5%;
    float: right;
}

main {
    clear: both;
    padding: 30px;
}

.rodape {
    align-items: center;
    padding: 0.7rem;
    background-color: #bff090;
    margin-top: auto;
    bottom: 0; /* Posicione o rodapé no fundo */
    width: 100%; /* Garanta que o rodapé ocupe a largura total da página */
}
.prefeitura-logo {
    width: 20rem;
}
  
.fale-conosco {
    width: 8%;
    height: 6%;
    margin-top: 0.5rem;
    margin-right: 2rem;
}
.links-redes-sociais {
    height: 60px;
}
 
.redes-sociais{
    display: flex;
    justify-content: space-between;
    margin: auto;
}

/* #rodape {
    padding: 20px;
    height: 100px;
    background-color: #bff090;
} */

/* #rodape .prefeitura-logo {
    width: 300px;
    height: 90px;
    float: left;
} */

/* #rodape div {
    display: inline;
    clear: both;
    margin: auto 350px;
    width: 100%;
} */

/* #rodape .fale-conosco {
    width: 100px;
    justify-items: center;
    float: right; */


/* FIM LAYOUT PADRÃO */

.foto-usuario {
    display: flex;
    justify-content: left;
    width: 250px;
    height: auto;
    background-color: #29af94;
    border-radius: 30px;
    padding: 10px;
}

.foto-usuario > h3 {
    background-color: #29af94;
    border-radius: 0 0 30px 30px;
    display: flex;
    justify-content: center;
    height: 30px; 
    color: #effaef;
    margin-top: 15px;
}

.foto-usuario > img {
    display: block;
    background-color: #29af94;
    border-radius: 0 0 30px 30px;
    margin: 0 auto;;
}

/* Botões dos pontos */

.cards-pontos {
    display: center;
    align-self: center;
    justify-items: center;
    margin-left: 30%;
}

.pontos > h1 {
    background-color: #9898e1;
    margin: 0 auto;
}

.troca > h2,
.extrato > h3 {
    background-color: #414BB2;
    margin: 0 auto;
}

.troca:hover {
    transition-duration: 0.3s;
    scale: 1.1;
    border: solid 0.8mm #628A4C;
}

.troca > h2 > a {
    text-decoration: none;
    color: white;
}

.extrato:hover {
     transition-duration: 0.3s;
    scale: 1.1;
    border: solid 0.8mm #628A4C;
}

.troca > img,
.extrato > img {
    background-color: #414BB2;
    margin: 0 15px 0 10px;
}

.pontos {
    display: center;
    align-self: center;
    justify-content: center;
    color: black;
    width: 400px;
    height: auto;
    background-color: #9898e1;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
    text-align: center;
    color: #414BB2;
}

.troca,
.extrato {
    display: center;
    align-self: center;
    justify-content: center;
    color: black;
    width: 400px;
    height: auto;
    background-color: #414BB2;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
    text-align: center;
    color: white;
}

/* Botões das Figuras */

.cards-figuras {
    display: center;
    align-self: center;
    justify-items: center;
    margin-left: 15%;
}

.celular,
.tablet,
.notebook,
.computador {
    display: inline-block;
    align-self: center;
    padding: 30px;
    font-size: large;
    margin-top: 30px;
    text-align: center;
    background-color: #BFF090;
    margin-right: 12px;
    border-radius: 20px;
    color: black;
    margin-bottom: 30px;
}

.celular > h1, p,
.tablet > h1, p,
.notebook > h1, p,
.computador > h1, p {
    background-color: #BFF090;
    padding: 5px;
}

/* .computador:hover {
    transition-duration: 0.3s;
    scale: 1.1;
    border: solid 0.8mm #628A4C;
}

.celular:hover {
    transition-duration: 0.3s;
    scale: 1.1;
    border: solid 0.8mm #628A4C;
}

.tablet:hover {
    transition-duration: 0.3s;
    scale: 1.1;
    border: solid 0.8mm #628A4C;
}

.notebook:hover {
    transition-duration: 0.3s;
    scale: 1.1;
    border: solid 0.8mm #628A4C;
} */