/* CONTEÚDO DO GRID */

#main {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
}

.mainHeader {
    grid-area: header;
}

.mainMain {
    grid-area: main;
}

.mainFooter {
    grid-area: footer;
}

/* FORMATAÇÃO PADRÃO */
* {
    margin: 0px;
    padding: 0px;
    /* background-color: #f0f8f0; */
    font-family: Arial, Helvetica, sans-serif;
}

.fleft {
    float: left;
}

.clear {
    clear: both;
}

.border {
    border: 1px solid black;
}

/* LAYOUT PADRÃO */
header {
    float: left;
    height: 60px;
    width: 100%;
}

body {
    background-color: #f0f8f0;
}

.barra-nav {
    float: left;
}

.logo-reciclamais {
    float: left;
    width: 190px;
    /* border: 1px solid red; */
}

nav {
    height: 60px;
}

nav ul {
    list-style: none;
    padding: 0;
    width: 1090px;
    float: left;
}

nav ul li {
    float: left;
}

nav ul li a {
    font-size: 0.9em;
    display: block;
    padding: 5px 40px;
    line-height: 46px;
    color: #222222;
    text-decoration: none;
}

nav ul li a:hover {
    color: #8bd218;
}

body.home #navegacao a#home,
body.todasNoticias #navegacao a#todasNoticias,
body.agendamento #navegacao a#agendamento,
body.portalTransparencia #navegacao a#portalTransparencia,
body.contato #navegacao a#contato {
    color: #8bd218;
    cursor: text;
}

.login {
    float: left;
    width: 60px;
}

.mainFooter {
    clear: both;
    padding: 20px;
    height: 60px;
    width: auto;
    background-color: #bff090;
    /* border: 1px solid red; */
}

.mainFooter .prefeitura-logo {
    float: left;
    margin: auto 0px auto 60px;
}

.mainFooter .prefeitura-logo img {
    float: left;
    width: 200px;
}

.mainFooter .redes-sociais {
    float: left;
    width: 200px;
    margin: 0px 0px 0px 300px;
}

.mainFooter .redes-sociais a {
    float: left;
    margin: 5px 16px;
}

.mainFooter .redes-sociais a img {
    float: left;
    width: 30px;
}

.mainFooter .redes-sociais p {
    float: left;
    display: block;
    font-size: 0.8em;
    margin: 10px auto;
}

.mainFooter .fale-conosco {
    float: left;
    margin: 0px 0px 0px 420px;
}

.mainFooter .fale-conosco img {
    height: 70px;
    float: left;
}
/* FIM LAYOUT PADRÃO */

.comprovante {
    display: inline-blockb;
    background-color: #9898e1;
    width: 300px;
    height: auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-left: 480px;
    margin-top: 60px;
    color: #414BB2;
}

.troca-realizada {
    display: inline-block;
    align-self: center;
    padding: 40px;
    text-align: center;
    background-color: #BFF090;
    border-radius: 10px;
    margin-right: 40px;
    font-size: medium;
    margin-bottom: 40px;
    margin-top: 70px;
    margin-left: 380px;
    margin-bottom: 100px;
    color: rgb(49, 46, 46);
}


