/* FORMATAÇÃO PADRÃO */
* {
    margin: 0px;
    background-color: #f0f8f0;
    font-family: Arial, Helvetica, sans-serif;
}

/* LAYOUT PADRÃO */
header {
    float: left;
    width: 15%;
}

.cabecalho{
    height: 60px;
}

nav {
    float: left;
    width: 80%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f0f8f0;
}

nav ul li {
    display: block;
    float: left;
    margin: 10px 30px 10px 30px;
}

nav ul li a {
    display: block;
    padding: 8px;
    color: #222222;
    background-color: #f0f8f0;
    text-decoration: none;
    font-size: 1.02em;
}

nav ul li a:hover {
    color: #8bd218;
    border-bottom: 3px solid #8bd218;
}

.login {
    width: 5%;
    float: right;
}

main {
    clear: both;
    padding: 30px;
}

#rodape {
    padding: 20px;
    height: 100px;
    background-color: #bff090;
}

#rodape .prefeitura-logo {
    width: 300px;
    float: left;
}

#rodape div {
    display: inline;
    clear: both;
    margin: auto 350px;
    width: 100%;
}

#rodape .fale-conosco {
    width: 100px;
    margin: auto 40px;
    float: right;
}
/* FIM LAYOUT PADRÃO */

/* TITULO AGENDE SUA COLETA*/

.box-title {
    padding: 5px 10px 5px;
    color: #222222;
    background-color: #f0f8f0;
    text-align: center;
    display: block;
}

.box-title > h1 {
    max-width: 500px;
    min-height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-radius: 10px;
    color: black;
    font-size: 250%;
    background-color: #0ca73d;
}

/* .email {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 250px;
    min-height: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    border-radius: 15px;
    color: black;
    font-size: 10px;
    background-color: #628A4C;
    margin-top: 30px;
}

.botao {
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}

.botao-2 {
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    min-width: 225px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

.botao-2:hover {
    background-color: deepskyblue;
    cursor: pointer;
}

.link {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 350px;
    min-height: 60px;
    margin-left: 40%;
    margin-right: auto;
    font-size: 7px;
    padding: 15px;
} */

.email {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    max-width: 550px;
    min-height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.login {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    max-width: 550px;
    min-height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.botao {
    border-radius: 15px;
    border-color: darkgrey;
    width: 20rem;
    height: 40px;
    padding-left: 15px;
    background-color: #b6b6b6;
    color: #111111;
    margin-top: 15px;
}

.botao-1 {
    border-radius: 15px;
    border-color: darkgrey;
    width: 20rem;
    height: 40px;
    padding-left: 15px;
    background-color: #b6b6b6;
    color: #111111;
    margin-top: 15px;
}

.botao-2 {
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #0ca73d;
    margin: 15px;
}

.link {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 250px;
    min-height: 60px;
    margin-left: 40%;
    margin-right: auto;
    font-size: 7px;
    padding: 15px;
    text-align: center;
} 