/* CONTEÚDO DO GRID */

#main {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
}

.mainHeader {
    grid-area: header;
}

.mainMain {
    grid-area: main;
}

.mainFooter {
    grid-area: footer;
}

/* FORMATAÇÃO PADRÃO */
* {
    margin: 0px;
    padding: 0px;
    background-color: #f0f8f0;
    font-family: Arial, Helvetica, sans-serif;
}

.fleft {
    float: left;
}

.clear {
    clear: both;
}

.border {
    border: 1px solid black;
}

/* LAYOUT PADRÃO */
header {
    float: left;
    height: 60px;
    width: 100%;
}

body {
    background-color: #f0f8f0;
}

.barra-nav {
    float: left;
}

.logo-reciclamais {
    float: left;
    width: 190px;
    /* border: 1px solid red; */
}

nav {
    height: 60px;
}

nav ul {
    list-style: none;
    padding: 0;
    width: 1090px;
    float: left;
}

nav ul li {
    float: left;
}

nav ul li a {
    font-size: 0.9em;
    display: block;
    padding: 5px 40px;
    line-height: 46px;
    color: #222222;
    text-decoration: none;
}

nav ul li a:hover {
    color: #8bd218;
}

body.home #navegacao a#home,
body.todasNoticias #navegacao a#todasNoticias,
body.agendamento #navegacao a#agendamento,
body.portalTransparencia #navegacao a#portalTransparencia,
body.contato #navegacao a#contato {
    color: #8bd218;
    cursor: text;
}

.login {
    float: left;
    width: 60px;
}

.mainFooter {
    clear: both;
    padding: 20px;
    height: 60px;
    width: auto;
    height: auto;
    background-color: #bff090;
    /* border: 1px solid red; */
}

.mainFooter .prefeitura-logo {
    float: left;
    margin: auto 0px auto 60px;
}

.mainFooter .prefeitura-logo img {
    float: left;
    width: 200px;
}

.mainFooter .redes-sociais {
    float: left;
    width: 200px;
    margin: 0px 0px 0px 300px;
    background-color: #bff090;
}

.mainFooter .redes-sociais a {
    float: left;
    margin: 5px 16px;
}

.mainFooter .redes-sociais a img {
    float: left;
    width: 30px;
}

.mainFooter .redes-sociais p {
    float: left;
    display: block;
    font-size: 0.8em;
    margin: 10px auto;
    background-color: #bff090;
}

.mainFooter .fale-conosco {
    float: left;
    margin: 0px 0px 0px 420px;
}

.mainFooter .fale-conosco img {
    height: 70px;
    float: left;
}
/* FIM LAYOUT PADRÃO */

/* Formatação Primario */
#primario .caixa {
    margin: 5px 0px 0px 0px;
    padding: 5px;
}

#primario .caixa h2 {
    font-size: 1.1em;
    background: #425f32;
    color: #fff;
    padding: 5px;
}

#primario .caixa img {
    width: 260px;
    display: block;
}

#primario .caixa p {
    text-align: left;
    font-size: 1.2em;
    padding: 15px;
}

#primario .caixa form input {
    margin-left: 15px;
    width: 100px;
    height: 20px;
    font-size: 1.1em;
}

#primario #formulario-cep {
    float: left;
    width: 100%;
}

#primario #cep {
    float: left;
    margin: 10px 0;

}

#primario #pesquisa-cep {
    float: left;
    margin: 10px;
    height: 25px;
    font-size: 1.1em;
}

#primario #mapa {
    float: left;
    width: 100%;
}

#primario #mapa img {
    width: 100%;
}
/* Formatação Primario */
/* FIM TELA PRINCIPAL */

/* Formatação caixa de noticia resumida */
.noticia-item {
    float: left;
    margin: 5px 0 0 0;
    min-height: 210px;
    width: 100%;
    border: 1px solid black;
    background: #ccc url(../img/HomePage/fundo-caixa.png);
}

.noticia-item .capa-noticia {
    float: left;
    margin: 5px;
    border: 1px solid #666;
    max-width: 280px;
    padding: 0;
}

.noticia-item .capa-noticia img {
    float: left;
    min-height: 210px;
    max-height: 210px;

}

.noticia-item .textos-noticia {
    float: left;
    border: 1px solid green;
    background: #fff;
    margin: 5px 5px 5px 0px;
    width: 610px;
    min-height: 210px;
    max-height: 210px;
}

.noticia-item .textos-noticia a {
    text-decoration: none;
    color: #425f32;
}

.noticia-item .textos-noticia .titulo-noticia {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.8em;
    margin: 10px;
}

.noticia-item .textos-noticia .resumo-noticia {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.4em;
    max-height: 100px;
    float: left;

}

.noticia-item .textos-noticia .assinatura-noticia {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-width: 150px;
    font-size: small;
    color: #425f32;
}

.box-title {
    padding: 5px 10px 5px;
    color: #222222;
    background-color: #f0f8f0;
    text-align: center;
    display: block;
}

.box-title > h1 {
    background-color: #425f32;
    max-width: 500px;
    min-height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 10px;
    color: #effaef;
}

.gap {
    height: 40px;
}

/*Carrossel*/

#carouselExampleCaptions {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 1000px;
    height: 0 auto;
}

.carousel-item {
    margin-top: auto; 
    margin-bottom: auto;

}

.carousel-item > img {
    height: 500px;
    border-radius: 10px;
}

.carousel-caption > h5 {
    padding: 5px;
    background-color:#76993D;
    border-radius: 5px;
    color: #111111;
    ;
}

.carousel-caption > p {
    padding: 10px;
    border-radius: 5px;
    background-color: #E0F2B6;
    color: #222222;
    font-weight:500;
}

/*Portal de Transparência*/

.cards_transparencia {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: auto;
}

.card-item-transparencia {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px;
    width: 250px;
    border: solid 1mm #f0f8f0;
    border-radius: 40px 0 40px 0;
    background-color: #E0F2B6;
}

.card-item-transparencia > img {
    margin: 10px 0;
    width: 50px;
    background-color: #E0F2B6;
}

.card-item-transparencia-legenda {
    padding: 5px 0;
    width: 250px;
    border-radius: 0 0 40px 0;
    background-color: #628A4C;
    color: #effaef;
    text-align: center;
}

.card-item-transparencia-legenda > h6 {
    background-color: #628A4C;
    border-radius: 0 0 40px 0;

}

.card-item-transparencia:hover {
    transition-duration: 0.3s;
    scale: 1.1;
    border: solid 0.8mm #628A4C;
}
