/* Layout Página */

* { padding: 0; margin: 0; font-family: Arial, Helvetica, sans-serif;}

#main {
    display: grid;
    grid-template-rows: 30% 60% 100% 30%;
    grid-template-areas: "header header header header" "main main main main" "content aside aside aside" "footer footer footer footer";
}

.mainHeader {
    grid-area: header;
}

.mainMain {
    grid-area: main;
    background: red;
}

.mainContet {
    grid-area: content;
    background: blue;
}

.mainAside {
    grid-area: aside;
    background: yellow;
}

.mainFooter {
    grid-area: footer;
}

/* FIM DO TESTE */

/* CABEÇALHO */

.logo {
    float: left;
    width: 15%;
}

.cabecalho{
    height: 60px;
}

nav {
    float: left;
    width: 80%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f0f8f0;
}

nav ul li {
    display: block;
    float: left;
    margin: 10px 30px 10px 30px;
}

nav ul li a {
    display: block;
    padding: 8px;
    color: #222222;
    background-color: #f0f8f0;
    text-decoration: none;
    font-size: 1.02em;
}

nav ul li a:hover {
    color: #8bd218;
    border-bottom: 3px solid #8bd218;
}

.login {
    width: 5%;
    float: right;
}

main {
    clear: both;
    padding: 30px;
}

/* FIM DO CABEÇALHO */

/* INÍCIO DO RODAPÉ */

.rodape {
    align-items: center;
    padding: 0.7rem;
    background-color: #bff090;
    margin-top: auto;
    bottom: 0; /* Posicione o rodapé no fundo */
    width: 100%; /* Garanta que o rodapé ocupe a largura total da página */
}
.prefeitura-logo {
    width: 20rem;
}
  
.fale-conosco {
    width: 8%;
    height: 6%;
    margin-top: 0.5rem;
    margin-right: 2rem;
}
.links-redes-sociais {
    height: 60px;
}
 
.redes-sociais{
    display: flex;
    justify-content: space-between;
    margin: auto;
    background: #bff090;
}

/* FIM DO RODAPÉ */