/* CONTEÚDO DO GRID */

#main {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: "header header header header" "content content content content" "footer footer footer footer";
}

.mainHeader {
    grid-area: header;
}

/* .mainMain {
    grid-area: main;
    background-color: red;
} */

.mainContet {
    grid-area: content;
}

/* .mainAside {
    grid-area: aside;
    background-color: yellow;
} */

.mainFooter {
    grid-area: footer;
}

/* FORMATAÇÃO PADRÃO */
* {
    margin: 0px;
    padding: 0px;
    /* background-color: #f0f8f0; */
    font-family: Arial, Helvetica, sans-serif;
}

.fleft {
    float: left;
}

.clear {
    clear: both;
}

.border {
    border: 1px solid black;
}

/* LAYOUT PADRÃO */
header {
    float: left;
    height: 60px;
    width: 100%;
}

body {
    background-color: #f0f8f0;
}

.barra-nav {
    float: left;
}

.logo-reciclamais {
    float: left;
    width: 190px;
    /* border: 1px solid red; */
}

nav {
    height: 60px;
}

nav ul {
    list-style: none;
    padding: 0;
    width: 1090px;
    float: left;
}

nav ul li {
    float: left;
}

nav ul li a {
    font-size: 0.9em;
    display: block;
    padding: 5px 40px;
    line-height: 46px;
    color: #222222;
    text-decoration: none;
}

nav ul li a:hover {
    color: #8bd218;
}

body.home #navegacao a#home,
body.todasNoticias #navegacao a#todasNoticias,
body.agendamento #navegacao a#agendamento,
body.portalTransparencia #navegacao a#portalTransparencia,
body.contato #navegacao a#contato {
    color: #8bd218;
    cursor: text;
}

.login {
    float: left;
    width: 60px;
}

.mainFooter {
    clear: both;
    padding: 20px;
    height: 60px;
    width: auto;
    background-color: #bff090;
    /* border: 1px solid red; */
}

.mainFooter .prefeitura-logo {
    float: left;
    margin: auto 0px auto 60px;
}

.mainFooter .prefeitura-logo img {
    float: left;
    width: 200px;
}

.mainFooter .redes-sociais {
    float: left;
    width: 200px;
    margin: 0px 0px 0px 300px;
}

.mainFooter .redes-sociais a {
    float: left;
    margin: 5px 16px;
}

.mainFooter .redes-sociais a img {
    float: left;
    width: 30px;
}

.mainFooter .redes-sociais p {
    float: left;
    display: block;
    font-size: 0.8em;
    margin: 10px auto;
}

.mainFooter .fale-conosco {
    float: left;
    margin: 0px 0px 0px 420px;
}

.mainFooter .fale-conosco img {
    height: 70px;
    float: left;
}
/* FIM LAYOUT PADRÃO */

/* INÍCIO CONTEÚDO */

.box-title {
    padding: 5px 10px 5px;
    color: #222222;
    background-color: #f0f8f0;
    text-align: center;
    display: block;
}

.box-title > h1 {
    max-width: 500px;
    min-height: 30px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-radius: 10px;
    color: black;
    font-size: 250%;
    background-color: #0ca73d;
}

.email {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    max-width: 550px;
    min-height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

/* .login {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    max-width: 550px;
    min-height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
} */

.botao {
    border-radius: 15px;
    border-color: darkgrey;
    width: 20rem;
    height: 40px;
    padding-left: 15px;
    background-color: #b6b6b6;
    color: #111111;
    margin-top: 15px;
}

.botao-1 {
    border-radius: 15px;
    border-color: darkgrey;
    width: 20rem;
    height: 40px;
    padding-left: 15px;
    background-color: #b6b6b6;
    color: #111111;
    margin-top: 15px;
}

.botao-2 {
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #0ca73d;
    margin: 15px;
}

.link {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 250px;
    min-height: 60px;
    margin-left: 40%;
    margin-right: auto;
    font-size: 7px;
    padding: 15px;
    text-align: center;
} 

