/* FORMATAÇÃO PADRÃO */
*{
    margin: 0;
    padding: 0;
               
}
a{
    text-decoration: none;
    color: black
}
body{
    font-family: sans-serif;
    text-align: center;
}

/* LAYOUT PADRÃO */
header {
    float: left;
    width: 15%;
}

.cabecalho{
    height: 60px;
}

nav {
    float: left;
    width: 80%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav ul li {
    display: block;
    float: left;
    margin: 10px 30px 10px 30px;
    
}

nav ul li a {
    display: block;
    padding: 8px;
    color: #222222;
    text-decoration: none;
    font-size: 1.02em;
}

nav ul li a:hover {
    color: #8bd218;
    border-bottom: 3px solid #8bd218;
}

.login {
    width: 5%;
    float: right;
    
}

main {
    clear: both;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.rodape {
    
    padding: 0.7rem;
    background-color: #bff090;
    margin-top: auto;
    bottom: 0; /* Posicione o rodapé no fundo */
    width: 100%; /* Garanta que o rodapé ocupe a largura total da página */
}
.prefeitura-logo {
    width: 20rem;
}
  
.fale-conosco {
    width: 8%;
    height: 6%;
    margin-top: 0.5rem;
    margin-right: 2rem;
}
.links-redes-sociais {
    height: 60px;
}
 
.redes-sociais{
    display: flex;
    justify-content: space-between;
    margin: auto;
}

/* FIM LAYOUT PADRÃO */
.records{
    width: 80%;
    user-select: none;
    text-align: left;
   
}
.records th{
    height: 50px;
    background-color: #14bd9b;
    padding-left: 20px;
    font-size: 1.2rem;
   
}
.records td{
    height: 50px;
    padding-left: 20px;
    
}
.records th:last-child
.records td:last-child{
    padding: 0;
    min-width: 100px;
   
}
.records tr :hover{
    background-color: #e6e6e6;
   
}
#confirmar h1{
    text-align: center ;
}
.Confirme{
    display: flex;
    padding-left: 12%;
    align-items: center;
    margin-bottom: 1rem;
    
}

.caixa{
    display: flex;
    padding-left: 12%;
}

.maior{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.Nome{
    display: flex;
    margin-bottom: 0.5rem;
    width: 80%;
    height: 2rem;
    justify-content: space-between;
}

.cadastro-nome{
    margin-right: 0.5rem;
}
.email{
    display: flex;
    justify-content: flex-start;
}
.input-cadastro{
    width: 74%;
    height: 2rem;
    margin-right: 0.5rem;
}

label{
    margin-top: 0.5rem;
}
.reagendar{
    background-color:  #f56c51;
    cursor: pointer;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin: 15px;
}
.confirmar{
    background-color:  #24AF50;
    cursor: pointer;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    border: none;
    margin: 80px;
    text-align: center;
  
   
}

